BasedOnStyle: Google

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignOperands: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
DerivePointerAlignment: false
IncludeBlocks: Regroup
IndentWidth: 2
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
SeparateDefinitionBlocks: Always
SortIncludes: true
SortUsingDeclarations: true
Standard: c++20
TabWidth: 2
UseTab: Never
